.profile-area img {
  max-width: 150px;
  margin-bottom: 20px;
}

.panel-body h3 {
  margin-top: 0;
}

.roundedImage{
  overflow:hidden;
  border-radius:10%;
  width:60px;
  height:60px;
  padding-right: 5px;
}

.lineChart {
  display: flex;
  justify-content: flex-start;
  max-width: 40%;
  max-height: 400px;
}
