<mat-toolbar color="primary">
  <mat-toolbar-row>
    <div class="roundedImage">
      <img src="{{ profile?.picture }}" class="roundedImage" alt="avatar">
    </div>
    <span>{{ profile?.nickname }}</span>
  </mat-toolbar-row>
</mat-toolbar>
<br><br><br>
<div *ngIf="githubData">
  <mat-card align="center">
    <mat-card-header>
    </mat-card-header>
    <mat-card-content>
      <mat-card-title align="center">Organisation</mat-card-title>
      <br>
      {{ githubData.organization }}
    </mat-card-content>
  </mat-card>

  <br><br><br>

      <mat-card align="center">
        <mat-card-header>
          <mat-card-title>Nombre de membres</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          {{ githubData.members }}
        </mat-card-content>
      </mat-card>

      <mat-card align="center">
        <mat-card-header>
          <mat-card-title>Nombre de membres qui ont des repositories GitHub</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          {{ githubData.membersWithRepositories }}
        </mat-card-content>
      </mat-card>

      <mat-card align="center">
        <mat-card-header>
          <mat-card-title>Nombre de repositories GitHub</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          {{ githubData.totalRepositories }}
        </mat-card-content>
      </mat-card>

      <mat-card align="center">
        <mat-card-header>
          <mat-card-title>Moyenne de repositories GitHub par membres</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          {{ getAveragePerMember() }}
        </mat-card-content>
      </mat-card>

  <br><br><br><br><br><br>

  <mat-tab-group mat-align-tabs="center" *ngIf="githubData">
    <mat-tab label="Général">
      <mat-grid-list cols="2" rowHeight="2:2">
        <mat-grid-tile>
          <div class="lineChart">
            <app-my-line-chart [title]="topPrimaryLanguagesTitle" [codeValues]="getDataLineChartTopPrimaryLanguages()"></app-my-line-chart>
          </div>
        </mat-grid-tile>
        <mat-grid-tile>
          <div class="lineChart">
            <app-my-line-chart [title]="topLanguage" [codeValues]="getDataLineChartTopLanguages()"></app-my-line-chart>
          </div>
        </mat-grid-tile>
        <mat-grid-tile>
          <div class="lineChart">
            <app-my-line-chart [title]="topRepository" [codeValues]="getDataLineChartTopRepositories()"></app-my-line-chart>
          </div>
        </mat-grid-tile>
        <mat-grid-tile>
          <div class="lineChart">
            <app-my-line-chart [title]="topMemberRepositories" [codeValues]="getDataLineChartTopMemberRepositories()"></app-my-line-chart>
          </div>
        </mat-grid-tile>
      </mat-grid-list>

    </mat-tab>
    <mat-tab label="Language">
      <app-my-radar-chart></app-my-radar-chart>
    </mat-tab>

    <mat-tab label="Language par projet">
      <app-my-pie-chart></app-my-pie-chart>
    </mat-tab>

    <mat-tab label="Top repository">
      <app-my-bar-chart></app-my-bar-chart>
    </mat-tab>

    <mat-tab label="Top repository des membres">
      <app-my-doughnut-chart></app-my-doughnut-chart>
    </mat-tab>

  </mat-tab-group>
</div>



