<mat-toolbar color="primary">
  <mat-toolbar-row>
    <h4 *ngIf="authService.isAuthenticated()">
      Vous êtes connecté ! Vous pouvez accéder à <a routerLink="/home">l'accueil</a>.
    </h4>
    <h4 *ngIf="!authService.isAuthenticated()">
      <a (click)="authService.login()">connectez-vous</a>
    </h4>
  </mat-toolbar-row>
</mat-toolbar>
